@charset "utf-8";

body {
		background-color: green; 
}
header nav li a {
	color: rgb(255,0,0);
}
h2 {
		background-color:rgba(243,105,25,0.5);
}
p {
		color: blue;
}
#checkbox {
	background-color:rgba(243,105,25,0.5);
}
.sub-head {
        text-decoration: underline;
	font-weight: 100; 
	padding: 10px;
        margin: 20 px;
	background-color: rgba (229,11,134,0.5); 
	border: 3px solid blue; 



